@import "../../assets/scss/variables.scss";

.header {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: $primary;

  .logo-container {
    height: 84px;

    .logo {
      max-width: 100px;
      margin-right: 20px;
    }
  }

  .search-container {
    flex: 1;
    line-height: normal;
    margin-left: 80px;

    .search {
      width: 405px;
      padding: 3px;
      height: 48px;

      & .ant-input-prefix {
        margin: 12px 13px 0 21px;
        height: 14px;
        width: 14px;

        & span svg {
          width: 20px;
          height: 20px;
          color: $grey;
        }
      }

      & span {
        height: 48px;
      }

      & input {
        border-radius: 32px;

        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $grey;
      }
    }
  }

  .actions-container {
    display: flex;
    align-items: center;
    margin-right: -40px;
    margin-top: 7px;
    self-align: center;

    .button {
      align-items: center;

      & img {
        width: 22px;
        margin: 0 6px 0 -5px;
      }

      &:first-child {
        padding-right: 5px;
      }
    }
  }
}
