.header {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: #5CB0C0;
}
.header .logo-container {
  height: 84px;
}
.header .logo-container .logo {
  max-width: 100px;
  margin-right: 20px;
}
.header .search-container {
  flex: 1;
  line-height: normal;
  margin-left: 80px;
}
.header .search-container .search {
  width: 405px;
  padding: 3px;
  height: 48px;
}
.header .search-container .search .ant-input-prefix {
  margin: 12px 13px 0 21px;
  height: 14px;
  width: 14px;
}
.header .search-container .search .ant-input-prefix span svg {
  width: 20px;
  height: 20px;
  color: #647376;
}
.header .search-container .search span {
  height: 48px;
}
.header .search-container .search input {
  border-radius: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #647376;
}
.header .actions-container {
  display: flex;
  align-items: center;
  margin-right: -40px;
  margin-top: 7px;
  self-align: center;
}
.header .actions-container .button {
  align-items: center;
}
.header .actions-container .button img {
  width: 22px;
  margin: 0 6px 0 -5px;
}
.header .actions-container .button:first-child {
  padding-right: 5px;
}

/*# sourceMappingURL=Header.css.map */
