@import "../../assets/scss/variables.scss";

.sidebar {
  width: 250px;
  height: 100vh;
  border-right: 1px solid #e8e8e8;
  overflow-y: auto;

  .sidebar-menu {
    padding-top: 25px;
    background-color: $sidebar-bg;
    color: white;

    .sidebar-icon {
      vertical-align: middle;
      margin-top: -7px;
      color: white !important;
    }

    & li {
      border-radius: 0;
      width: 105%;
      margin-left: -5px;
      height: 40px;
      margin-bottom: 20px;

      &:hover {
        background: $primary;
        color: white;
      }
    }
  }

  .ant-menu {
    height: 100%;
    border-right: 0;
  }
}


:where(.css-dev-only-do-not-override-ysxg94).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
:where(.css-dev-only-do-not-override-ysxg94).ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: $primary;
  color: white;
}

.sidebar-menu .ant-menu-item:nth-child(1):hover .sidebar-icon,
.sidebar-menu .ant-menu-item-selected:nth-child(1) .sidebar-icon {
  content: url('../../assets/img/home.svg');
}
.sidebar-menu .ant-menu-item:nth-child(2):hover .sidebar-icon,
.sidebar-menu .ant-menu-item-selected:nth-child(2) .sidebar-icon {
  content: url('../../assets/img/user.svg');
}
.sidebar-menu .ant-menu-item:nth-child(3):hover .sidebar-icon,
.sidebar-menu .ant-menu-item-selected:nth-child(3) .sidebar-icon {
  content: url('../../assets/img/send.svg');
}
.sidebar-menu .ant-menu-item:nth-child(4):hover .sidebar-icon,
.sidebar-menu .ant-menu-item-selected:nth-child(4) .sidebar-icon {
  content: url('../../assets/img/bar-chart.svg');
}
.sidebar-menu .ant-menu-item:nth-child(5):hover .sidebar-icon,
.sidebar-menu .ant-menu-item-selected:nth-child(5) .sidebar-icon {
  content: url('../../assets/img/message.svg');
}

:where(.css-dev-only-do-not-override-ysxg94).ant-menu-light .ant-menu-item-selected a,
:where(.css-dev-only-do-not-override-ysxg94).ant-menu-light>.ant-menu .ant-menu-item-selected a,
:where(.css-dev-only-do-not-override-ysxg94).ant-menu-light .ant-menu-item-selected a:hover,
:where(.css-dev-only-do-not-override-ysxg94).ant-menu-light>.ant-menu .ant-menu-item-selected a:hover {
  color: $dark-grey;
}
