.home-info-section {
  padding: 4rem;

  &.about-us-section {
    img {
      max-width: 350px;
      max-height: 350px;
    }
  }

  .home-info-paragraph {
    font-size: 20px;
  }

  .home-info-title {
    margin-top: 0;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  #lottie {
    width: 150px;
    height: 150px;
  }
}
