.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .layout-content {
        display: flex;
        flex: 1;

        .sidebar {
            flex: 0 0 250px;
            height: calc(100vh - 60px);
            overflow-y: auto;
        }

        .main-content {
            flex: 1;
            overflow-y: auto;
            padding: 20px;
        }
    }
}
