@import '~leaflet/dist/leaflet.css';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif ;
  font-style: normal;
}
