$primary: #5CB0C0;
$primary-50: #92cad5;
$primary-100: #EDF3F5;
$primary-200: #D6EBEF;
$primary-300: #b4dbe2;
$primary-400: #7dc0cd;
$primary-600: #4396A6;
$primary-700: #297D8D;
$primary-800: #106474;
$primary-900: #274a51;

$secondary: #F2BB41;
$secondary-50: #fef8ec;
$secondary-100: #fbeac4;
$secondary-200: #f9e0a8;
$secondary-300: #f6d180;
$secondary-400: #f5c967;
$secondary-600: #dcaa3b;
$secondary-700: #ac852e;
$secondary-800: #856724;
$secondary-900: #664f1b;

$grey: #647376;
$sidebar-bg: #274a51;
$dark-grey: #383434;
$a: e8e8e8;
